---
import { Image } from "astro:assets";
import Band2 from "../../src/img/BAND2.webp";
import Gonza from "../../src/img/gallery/Gonza.jpg";
import Ro2 from "../../src/img/gallery/Ro2.jpg";
import Andres from "../../src/img/gallery/Andres.jpg";
import Diego1 from "../../src/img/gallery/Diego1.jpg";
import CaroMavi from "../../src/img/gallery/CaroMavi.jpg";
import GonzaAndres from "../../src/img/gallery/GonzaAndres.jpeg";
// import Andres2 from "../../src/img/gallery/Andres2.jpg";
// import Diego2 from "../../src/img/gallery/Diego2.jpg";
import ModoCasona from "../../src/img/ModoCasona.webp";
import todos from "../../src/img/gallery/todos.jpg";
---

<div id="gallery">
  <div id="gallery-photoswipe">
    <!-- Banda -->
    <a
      href={Band2.src}
      data-pswp-width="4060"
      data-pswp-height="2700"
      target="_blank"
    >
      <Image src={Band2} alt={"alt"} width={4060} height={2700} />
    </a>
    <!-- Gonza -->
    <a
      href={Gonza.src}
      data-pswp-width="4604"
      data-pswp-height="3070"
      target="_blank"
    >
      <Image src={Gonza} alt={"alt"} width={4604} height={3070} />
    </a>
    <!-- Ro2 -->
    <a
      href={Ro2.src}
      data-pswp-width="1432"
      data-pswp-height="1797"
      target="_blank"
    >
      <Image src={Ro2} alt={"alt"} width={1432} height={1797} />
    </a>
    <!-- Andres -->
    <a
      href={Andres.src}
      data-pswp-width="1910"
      data-pswp-height="1272"
      target="_blank"
    >
      <Image src={Andres} alt={"alt"} width={1910} height={1272} />
    </a>
    <!-- Diego1 -->
    <a
      href={Diego1.src}
      data-pswp-width="4604"
      data-pswp-height="3070"
      target="_blank"
    >
      <Image
        src={Diego1}
        alt={"alt"}
        width={4604}
        height={3070}
      />
    </a>
    <!-- CaroMavi -->
    <a
      href={CaroMavi.src}
      data-pswp-width="5986"
      data-pswp-height="3984"
      target="_blank"
    >
      <Image
        src={CaroMavi}
        alt={"alt"}
        width={5986}
        height={3984}
      />
    </a>
    <!-- Ro -->
    <a
      href="/src/img/gallery/Ro3.jpg"
      data-pswp-width="4604"
      data-pswp-height="3070"
      target="_blank"
    >
      <Image
        src="/src/img/gallery/Ro3.jpg"
        alt={"alt"}
        width={347}
        height={231}
      />
    </a>
    <!-- GonzaAndres -->
    <a
      href={GonzaAndres.src}
      data-pswp-width="746"
      data-pswp-height="933"
      target="_blank"
    >
      <Image
        src={GonzaAndres}
        alt={"alt"}
        width={746}
        height={933}
      />
    </a>
    <!-- Andres2 -->
    <!-- <a
      href={Andres2.src}
      data-pswp-width="651"
      data-pswp-height="897"
      target="_blank"
    >
      <Image
        src={Andres2}
        alt={"alt"}
        width={651}
        height={897}
      />
    </a> -->
    <!-- Diego2 -->
    <!-- <a
      href={Diego2.src}
      data-pswp-width="722"
      data-pswp-height="899"
      target="_blank"
    >
      <Image
        src={Diego2}
        alt={"alt"}
        width={722}
        height={899}
      />
    </a> -->
    <!-- ModoCasona -->
    <a
      href={ModoCasona.src}
      data-pswp-width="4620"
      data-pswp-height="3072"
      target="_blank"
    >
      <Image
        src={ModoCasona}
        alt={"alt"}
        width={4620}
        height={3072}
      />
    </a>
    <!-- todos -->
    <a
      href={todos.src}
      data-pswp-width="636"
      data-pswp-height="957"
      target="_blank"
    >
      <Image
        src={todos}
        alt={"alt"}
        width={350}
        height={350}
      />
    </a>
  </div>
</div>

<style>
  #gallery {
    background-color: black;
    border-top: 4px solid var(--color-white);
    border-bottom: 8px solid var(--color-black);
  }

  h1 {
    color: white;
    text-align: center;
    margin-bottom: 70px;
  }

  #gallery-photoswipe {
    display: flex;
    flex-wrap: wrap;
  }

  #gallery-photoswipe a {
    flex: 50%;
    cursor: pointer;
  }

  @media (min-width: 600px) {
    #gallery-photoswipe a {
      flex: 33.3333%;
    }
  }

  @media (min-width: 768px) {
    #gallery-photoswipe a {
      flex: 15%;
    }
  }

  #gallery-photoswipe img {
    height: 218px;
    object-fit: cover;
    object-position: top;
  }

  @media (min-width: 768px) {
    #gallery-photoswipe img {
      height: 350px;
    }
  }
</style>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery-photoswipe",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });

  lightbox.init();
</script>
